body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #e6f7ff;
}

#leftcolumn { 
	padding-top: 50px;
    float: left;
    width: 120px;
	height: 400px;
}   

#rightcolumn { 
    margin-left: 155px;
    background-color: #e6f7ff;
    color: #290305;
	padding-bottom: 20px;
} 

header{ 
    background-color: #d2b48c;
    font-size: 150%; 
    padding: 10px 10px 10px 50px;
	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 { 
    color: #2f0000; 
}
.content {
    padding: 5px 20px 90px 20px; 
} 

footer {
    font-size:70%;
    text-align: center;
	color: #000000;
    clear: right;
    padding-bottom:20px;
    padding-top: 20px;
    background-color: #66ccff; 
}	

nav ul { 
    list-style-type: none;
}

nav li {
    text-align: center;
	padding-top: 2px;
}

nav a {
    text-decoration: none;
    color: #8f7b60;
    font-weight: bold;
}
ul.a {
		list-style-image: url(bullets.jpg);
		list-style-position: inside;
		color: #290305;
}
p {
	line-height:30px;
	}
	
.topnav {
  overflow: hidden;
  background-color: #99ddff;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #66ccff;
  color: black;
  height:60px;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
  height:60px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 15px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.columns {
  float: left;
  width: 100%;
  padding: 8px;
  color: black;
}
* {box-sizing: border-box;}

input[type=text1], select, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:#66ddff;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.container2 {
  border-radius: 10px;
  display: inline-block;
  background-color: #99ddff;
  padding: 70px;
}