 body {
    font-family:Verdana, Arial, sans-serif;
    background-color: #e6f7ff;
}

#leftcolumn { 
	padding-top: 50px;
    float: left;
    width: 200px;
}   

#rightcolumn { 
    margin-left: 155px;
    background-color: #e6f7ff;
    color: #290305;
	padding-bottom: 20px;
} 

header{ 
    background-color: #d2b48c;
    font-size: 150%; 
    padding: 10px 10px 10px 50px;
	
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2 { 
    color: #2f0000; 
}
.content {
    padding: 5px 20px 90px 20px; 
} 

footer {
    font-size:70%;
    text-align: center;
	color: #000000;
    clear: right;
    padding-bottom:20px;
    padding-top: 20px;
    background-color: #66ccff;
}	

nav ul { 
    list-style-type: none;
}

nav li {
    text-align: center;
	padding-top: 2px;
}

nav a {
    text-decoration: none;
    color: #8f7b60;
    font-weight: bold;
}

p {
	line-height:30px;
	}
	
.topnav {
  overflow: hidden;
  background-color: #99ddff;
  height:60px;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #66ccff;
  color: black;
  height:60px;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
  height:60px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  margin-top: 15px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

img {
  vertical-align: middle;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
}

.demo {
  opacity: 0.8;
}

.active,
.demo:hover {
  opacity: 1;
}
table { border="0";
		border-spacing="1";
		margin-left: 0px;
		width: 370px;
}
td {
padding: 0px;
}

.columns{
  float: left;
  width: 100%;
  padding: 8px;
  color: black;
}


a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

